@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600;700&family=Poppins&display=swap');

@media screen and (max-width: 767px) {

  /* Mobile-specific styles here */
  input,
  button {
    width: 80vw;
    height: 100vh;
  }

  .heading {
    width: 100vw;
  }

  button {
    width: 5vw;
  }

  .results,
  .movie-card>p,
  .movie-card {
    width: 40vw;

  }
}

* {
  padding: 0;
  margin: 0;
  font-family: Montserrat;
}

body {
  background-color: hsl(200, 6%, 10%);
  /* height: 50%;
  width: 50%; */
}

div>h1 {
  text-align: center;
  color: hsl(200, 6%, 10%);
  /* -webkit-text-stroke: 1px hsl(201, 85%, 36%); */
}

.heading {
  /* width: 75%;
    margin: 12.5% 12.5%%; */
  margin: 2rem;

  color: hsl(200, 6%, 10%);
  /* font-size: 50px; */
  text-shadow: -1px 1px 0 hsl(201, 85%, 36%),
    1px 1px 0 hsl(201, 85%, 36%),
    1px -1px 0 hsl(201, 85%, 36%),
    -1px -1px 0 hsl(201, 85%, 36%);
}

#api {
  margin: 2rem;
  padding: 2rem 10rem;
}

input,
button {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  background-color: #3A3F47;
  color: #67686D;
  box-shadow: none;
  border: none;
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 5px;
  font-family: Poppins;
  min-width: 150px;
}

#search-text {
  border-radius: 5px 0px 0px 5px;
  min-width: 100px;
}

button {
  width: 5%;
  border-radius: 0px 5px 5px 0px;
  cursor: pointer;
  min-width: 50px;
}

#search-container {
  display: flex;
}

#loader {
  border: 5px solid #f3f3f3;
  border-top: 5px solid #3498db;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.error {
  color: red;
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
}

.results {
  display: flex;
  flex-wrap: wrap;
  gap: 4rem;
  margin: 2rem 12rem;
  width: auto;
  font-family: Poppins;
  font-size: 20px;
}

.movie-card {
  border: 5px solid gray;
  box-sizing: border-box;
  border-radius: 10px;
  padding: 10px;
  width: auto;
  color: white;
}

.movie-card>p {
  width: 225px;
}

a {
  color: goldenrod;
}
